<div class="m-3">
  <form [formGroup]="emailForm" (ngSubmit)="editEmail()">
   <div class="row">
     <div class="col-sm-6">
    <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Type</label>
    <div class="col-sm-7">
      <select (change)="changeUnitStatus($event)" class="form-control form-control-sm" formControlName="emailType">
        <option value="">Select Type</option>
        <option value="Welcome">Welcome</option>
        <option value="Signup OTP">Signup OTP</option>
        <option value="Forget Password OTP">Forget Password OTP</option>
        <option value="Booking Confirmation">Booking Confirmation</option>
        <option value="Change Bid Confirmation">Change Bid Confirmation</option>
        <option value="Place Bid Confirmation">Place Bid Confirmation</option>
        <option value="Add Subscription">Add Subscription</option>
        <option value="Payment Confirmation">Payment Confirmation</option>
        <option value="Expire Subscription">Add Subscription</option>
        </select>
        <div class="error" *ngIf="isSubmitted && emailFormControl.emailType.errors?.required">Email Type is Required*</div>
    </div>
  </div>
    <div class="form-group row">

      <label for="inputEmail3" class="col-sm-2 col-form-label">Subject</label>
      <div class="col-sm-7">
        <input type="text" formControlName="emailSubject" class="form-control" id="inputEmail3" placeholder="Subject..">
        <span class="error" *ngIf="(isSubmitted && emailFormControl.emailSubject.errors?.required ) || (emailFormControl.emailSubject.errors?.required && emailFormControl.emailSubject.touched)"> email subject is Required*</span>
      </div>
      </div>

  </div>
  <div class="col-sm-5">
    <div class="text-right">
   <button type="button" routerLink="add" class="button-save ">add</button>
   </div>
  </div>
  </div>

  <!-- <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor> -->
  <editor formControlName="message" apiKey="fozhevtd2khq4ctmv6mlghk6fgd64vtyf0fe36kpatxr1nnx" [init]="init"></editor>
  <div class="row">
  <div class="text-right col-sm-11 mt-2 ml-3">
    <button  type="submit" style="width: 12%;" class="btn btn-primary">Update</button>
  </div>
  </div>
  </form>
  </div>

